{% if pagination %}
    {% assign changelogItems = pagination.items %}
    {% else %}
    {% assign changelogItems = collections.changelog %}
    {% assign changelogItems = changelogItems | reverse | slice: 0, 10 %}
{% endif %}


{% for page in changelogItems %}
  ## [{{page.data.title}}]({{page.url}})
  {{page.date}}
  {% bookshop_include "doc" editorial_blocks: page.data.editorial_blocks %}
  {{page.rawInput }}
***
***

{% endfor %}

{% if pagination.href.next or pagination.href.previous %}
  <footer class="flex justify-center mt-10">
    <nav class="flex justify-between gap-4  ">
      {% if pagination.href.previous %}
        <a class="hover:underline" href="{{ pagination.href.previous }}">Previous</a>
      {% endif %}
      {% if pagination.href.next %}
        <a class="hover:underline" href="{{ pagination.href.next }}">Next</a>
      {% endif %}
    </nav>
  </footer>
{% endif %}