<div class="tabs-tabs-wrapper" data-id="{{a | uuidFilter}}">
  <div class="tabs-tabs-header">
    {% for tab in tabs %}
    <button type="button" class="tabs-tab-button {% if tabs.first == tab %}active{% endif %}" data-tab="{{ forloop.index }}" data-id="{{tab.title | slug}}" {% if tabs.first == tab %}data-active{% endif %}>
      <span data-editable="text" data-prop="title" data-type="span">{{ tab.title }}</span>
    </button>
    {% endfor %}
  </div>
  <div class="tabs-tabs-container">
    {% for tab in tabs %}
    <div class="tabs-tab-content {% if tabs.first == tab %}active{% endif %}" data-tab="{{ forloop.index }}" data-id="{{tab.title | slug}}" {% if tabs.first == tab %}data-active{% endif %}>
      <div data-editable="array" data-prop="editorials" data-id-key="_bookshop_name" data-component-key="_bookshop_name">
        {% for editorial_block in tab.editorials %}
          <editable-array-item data-component="{{ editorial_block._bookshop_name }}" data-id="{{ editorial_block._bookshop_name }}">
            {% bookshop {{editorial_block._bookshop_name}} bind: editorial_block %}
          </editable-array-item>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>